sudo: false

language: php

php:
    - 7.1
    - 7.2
    - 7.3
    - 7.4

cache:
    directories:
        - $HOME/.composer/cache/files

env:
    - SYMFONY_VERSION="^3.0.2"
    - SYMFONY_VERSION="^3.0.2" COMPOSER_FLAGS="--prefer-lowest"

matrix:
    fast_finish: true

    allow_failures:
        - php: 7.1

before_install:
    - phpenv config-rm xdebug.ini
    - composer self-update
    - if [ "${SYMFONY_VERSION}" != "" ]; then composer require --no-update "symfony/symfony:${SYMFONY_VERSION}"; fi;

install:
    - composer update ${COMPOSER_FLAGS} --prefer-source

script:
    - vendor/bin/phpunit --colors
